.DiaryEditor {


    padding: 20px;

    width: 60% !important;
}

.DiaryEditor input,
textarea {
    margin-bottom: 20px;

}

.DiaryEditor form {
    text-align: left !important;
}

.DiaryEditor input {
    padding-bottom: 5px;
    text-align: left !important;
    border: none;
    border-bottom: 3px solid #2fbe9f;
    outline: none;
    background: none;
    font-size: medium;
    font-weight: 600;
    width: 26% !important;
}

.DiaryEditor textarea {
    padding: 10px;
    height: 200px;
    width: 100% !important;
    border: 3px solid #2fbe9f;
    border-radius: 20px;

}

.DiaryEditor select {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.DiaryEditor button {
    width: 10%;
    cursor: pointer;
    margin-left: 10px;
    height: 40px;
}

.DiaryButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;
    white-space: nowrap;
}

.DiaryButton_default {
    background-color: #ececec;
    color: black;
}

.DiaryButton_positive {
    background-color: #2fbe9f;
    color: white;
}

.DiaryButton_negative {
    background-color: #fd565f;
    color: white;
}



h2 {
    text-align: left;
}

.btns {
    text-align: right;


}

.saveBtn {
    background-color: #2fbe9f;
    border: none;
    border-radius: 10px;
    color: #ececec;
    font-weight: 600;
}

.deleteBtn {
    background-color: #fd565f;
    border: none;
    border-radius: 10px;
    color: #ececec;
    font-weight: 600;
}

.message {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -1px;

    bottom: -10px;
    left: 0;


}

.success {
    display: none;
}

.error {
    color: #ff2727;
}