.DiaryEditor {


    padding: 20px;

    width: 50% !important;
}

.DiaryEditor input,
textarea {
    margin-bottom: 20px;

}

.DiaryEditor form {
    text-align: left;
}

.DiaryEditor input {
    padding-bottom: 5px;
    text-align: left !important;
    border: none;
    border-bottom: 3px solid #2fbe9f;
    outline: none;
    background: none;
    font-size: medium;
    font-weight: 600;
    width: 26% !important;
}

.DiaryEditor textarea {
    padding: 10px;
    height: 200px;
    width: 100% !important;
    border: 3px solid #2fbe9f;
    border-radius: 20px;

}

.DiaryEditor div {
    margin-top: 10px;
}

.DiaryEditor select {
    width: 300px;
    padding: 10px;
    margin-bottom: 20px;
}

.DiaryEditor button {
    width: 10%;
    cursor: pointer;
    margin-left: 10px;
    height: 40px;
}

.DiaryButton {
    cursor: pointer;
    border: none;
    border-radius: 5px;

    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 20px;
    padding-right: 20px;

    font-size: 18px;
    white-space: nowrap;
}

.DiaryButton_default {
    background-color: #ececec;
    color: black;
}

.DiaryButton_positive {
    background-color: #2fbe9f;
    color: white;
}

.DiaryButton_negative {
    background-color: #fd565f;
    color: white;
}

.content {

    width: 100%;
    height: 55px;
    padding: 10px;

    margin: 0 auto;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    vertical-align: top;

}

.css-178yklu {
    margin: 0 !important;
}

.content>span {
    display: inline-block;
    margin: 0;
    font-size: 1.3rem;
}

.content>a {
    display: inline-block;
    margin: 0;
    font-size: 0.8rem;
    text-decoration: underline;
    margin-left: 5px;
}

.d_list {
    border: 3px solid #2fbe9f;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 18px;
}


.flex>button {
    display: flex;
    justify-content: right;
    align-items: center;
}

.diary {
    width: 120%;
    cursor: pointer;

    height: 40px;
    justify-content: center !important;
    background-color: #2f72be;
    border: none;
    border-radius: 10px;
    color: #ececec;
    font-weight: 600;
}

.delBtn {
    background-color: transparent;
    border: none;
    border-radius: 10px;
    color: #000000;
    font-weight: 600;
}

.more {
    padding-right: 15px;
}

.more button {
    width: 120% !important;
    background-color: #2fbe9f;
    border: none;
    border-radius: 10px;
    color: #ececec;
    font-weight: 600;

}

.message {
    font-weight: 500;
    font-size: 1rem;
    line-height: 24px;
    letter-spacing: -1px;

    bottom: -10px;
    left: 0;


}

.success {
    display: none;
}

.error {
    color: #ff2727;
}

.flex {
    margin: 0 !important;
    display: flex;
    justify-content: space-between;
}

.flex>h5 {
    display: flex;
    align-items: center;
}


.sentiment {
    display: flex;
    align-items: center;
}

.diary_header {
    display: flex !important;
    justify-content: space-between;
    text-align: center;
    padding: 20px;

    width: 50% !important;
}

hr {
    margin-bottom: -30px;
}