.rankingbtn {
    font-size: 23px;
    color: darkcyan;
}

.rankingbtn:hover {
    cursor: pointer;
    color: lightpink;
}

.selected {
    color: red;
}

.home_diary {
    width: 100% !important;


    text-overflow: ellipsis !important;
    word-break: normal !important;
    white-space: pre-line !important;
    vertical-align: top;
}