.rankingbtn {
    font-size: 23px;
    color: rgb(130, 183, 183);
}

.rankingbtn:hover {
    cursor: pointer;
    color: rgb(255, 220, 63);
}

.selected {
    color: rgb(0, 135, 135);
    border-bottom: 5px solid rgb(0, 135, 135);
}

.home_diary {
    width: 100% !important;


    text-overflow: ellipsis !important;
    word-break: normal !important;
    white-space: pre-line !important;
    vertical-align: top;
}