.page{
    width:800px;
    height:500px;
    margin:0 auto;

}

.timeCalendar{
    float:left;
    width:500px;
    height:400px;
    margin-right:20px;
}

.calendar-container{
    margin: 20px auto 20px auto;
    font-size:15pt;

}


.text-center{
    margin-top:20px;
    margin-bottom:25px;
}

.totaltime{
    float:left;
}

.totaltime2{
    padding-top:20px;
}

.totaltime2 h3{
    text-align: left;
}

.clickedDate{
    margin-top:50px;

}

.totaltime3{
    font-size:35px;
    margin-bottom:20px;
}

